{% extends 'main.html.twig' %}

{% block title %}iTunes Movie: {{ movie.title }}{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="mt-5 mb-4">iTunes Movie: {{ movie.title }}</h1>
        <table class="table table-bordered">
            <tr>
                <td><img src="{{ movie.image }}" alt="{{ movie.title }}"></td>
                <td>{{ movie.description }}</td>
            </tr>
            <tr>
                <td colspan="2"><a href="{{ movie.link }}">iTunes</a></td>
            </tr>
        </table>
        <a href="{{ homepage }}" class="href">Back to list</a>
    </div>
{% endblock %}
